:root {
  --bg-dark: rgb(245, 242, 242);
  --bg-secondary-dark: rgb(255, 255, 255);
  --bg-hightlight: rgb(239, 28, 74);
}

.list-images img {
  width: 150px;
  background-color: red; /* Color de fondo del área de overflow */
  }
  
  .list-images {
  overflow-y: auto;
  
  height: 600px;
  margin-top: 40px;
  
}
#user-input {
  width: 60%;
  background-color: var(--bg-dark);
  border: 3px solid rgba(250, 5, 5, 0.651);
  border-left: 10px;
  border-top: 10px;
  border-right: 10px;
  padding: 12px;
  outline: none;
  color: #000000;
  font-weight: bold;
  text-align:center;
  margin-top: 210px;
  font-size: 20px;
  letter-spacing: 2px;
}

  
  #user-input::placeholder {
  letter-spacing: normal;
  }
  
  .selected {
  border: 5px solid rgb(48, 241, 0);
  background-image: url'assets/imgs/skin/palomita.png';
  }
  
  .swal-text {
  color: #000000 !important;
  text-align: center;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  }
  
  
  #userIP {
  font-size: 12px;
  color: #020202;
  text-align: right;
  display: block;
  padding: 6 0px;
  }
  
  .buttonid {
    border-radius: 10%;
    background-color: rgb(255, 238, 1);
    color: rgb(0, 25, 250);
    width: 100px;
    height: 60px;
    border: none;
    font-size: 25px;

    top: 50%;
    left: 50%;
    transform: translate(200%);
    z-index: ; /* Esto asegurará que el botón esté por encima de todos los demás elementos */
  }
